/venv
.idea
.env
/node_modules
node_modules
react_django/django-src/django_app/__pycache__/

react_django/django-src/django-src/__pycache__/

react_django/django-src/django_app/migrations/__pycache__/

Pipfile

react_django/django-src/build
react_django/django-src/staticfiles

