[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
django-heroku = "*"
passlib = "*"
whitenoise = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
