@import 'imports';

.main-container {
  display: flex;
  flex-direction: row;

  .mini-profile {
    position: absolute;
    left: 70%;
    top: 10.5%;
    border: 1px solid black;
    width: 20%;
    padding: 10px;

    img {
      width: 25%;
    }
  }
}