@import "imports";

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
.client {
  background: #e1f5ff;
  height: 100vh;
  font-family: $landingfont;

  .landing-container {
    .signout {
      display: flex;
      justify-content: flex-end;

      button {
        margin-right: 100px;
        margin-top: 50px;
        cursor: pointer;
        outline: none;
        border: none;
        background: none;
        font: 0.8em $lambdafont;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    .welcome-container {
      display: flex;

      .profile-marker {
        position: absolute;
        width: 100px;
        left: 8%;
        -webkit-filter: drop-shadow(5px 1px 2px #3a3a3a);
        filter: drop-shadow(6px 1px 2px #3a3a3a);
      }

      hr {
        border-top: 2px dashed $specialgray;
      }

      .hr1 {
        width: 39%;
        position: absolute;
        top: 225px;
        left: 10.6%;
      }

      .hr2 {
        width: 85px;
        position: absolute;
        top: 270px;
        left: 47.5%;
        transform: rotate(90deg)
      }

      .hr3 {
        width: 150px;
        position: absolute;
        top: 425px;
        left: 32%;
      }

      .hr4 {
        width: 180px;
        position: absolute;
        top: 515px;
        left: 27%;
        transform: rotate(90deg)
      }

      .hr5 {
        width: 600px;
        position: absolute;
        top: 625px;
        left: 59%
      }

      .hr6 {
        width: 50px;
        position: absolute;
        top: 650px;
        left: 89%;
        transform: rotate(90deg)
      }

      .user-pic {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 75px;
        left: 8.5%;
        z-index: 1;
        border: 2px solid #db5f3c;
        border-radius: 100%;
      }

      h1 {
        position: absolute;
        left: 14%;
        top: 150px;
        font-size: 1.5em;
      }
    }

    .feat-job {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 275px auto 145px;
      width: 400px;

      img {
        width: 125px;
        height: 125px;
        border-radius: 100%;
        margin-right: 10px;
      }

      .list-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .pinit {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .orange {
          font-size: 2em;
          color: #db5f3c;
          cursor: pointer;
        }

        .black {
          font-size: 2em;
          cursor: pointer;
        }

        h3 {
          margin: 0px 50px 0px 0px;
        }

        h5 {
          margin: 0px 5px 0px 5px;
          font-weight: bold;
        }

        p {
          text-align: start;
          margin: 5px 0px 0px 0px;
          font-size: 12px;
          white-space: nowrap;
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .post-time {
          display: flex;
          align-items: center;
          font-size: 11px;

          .post-clock {
            margin-right: 3px;
          }
        }
      }
    }

    .corner-map {
      position: absolute;
      width: 12.5%;
      right: 100px;
      bottom: 80px;
    }

    .pinned-jobs::-webkit-scrollbar {
      height: 8px;
    }

    .pinned-jobs::-webkit-scrollbar-thumb:horizontal {
      border-radius: 10px;
      height: 10px;
      background-color: #707070;
      box-shadow: inset 0 0 5px black;
    }

    .pinned-jobs {
      width: 50%;
      background-color: #d4d4d4;
      margin-left: 150px;
      display: flex;
      padding: 50px 0;
      overflow: auto;
      border-radius: 10px;

      .pinned-container {
        display: flex;
        flex-direction: row;

        .pinned-listing {
          display: flex;
          align-items: center;
          width: 410px;
          margin-left: 20px;

          img {
            width: 125px;
            height: 125px;
            border-radius: 100%;
            margin-right: 10px;
          }

          .list-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .pinit {
              display: flex;
              flex-direction: row;
              align-items: center;
            }

            .pin-icon {
              font-size: 2em;
              color: #db5f3c;
              cursor: pointer;
            }

            h3 {
              margin: 0px 50px 0px 0px;
            }

            h5 {
              margin: 0px 5px 0px 5px;
              font-weight: bold;
            }

            p {
              text-align: start;
              margin: 5px 0px 0px 0px;
              font-size: 12px;
              white-space: nowrap;
              width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .post-time {
              display: flex;
              align-items: center;
              margin-top: 10px;
              font-size: 11px;

              .post-clock {
                margin-right: 3px;
              }
            }
          }
        }

        .pinned-listing:after {
          content: "";
          display: block;
          margin: auto 0px auto 30px;
          height: 100%;
          border-right: 1px solid black;
        }
      }
    }
    .pinned-title {
      text-align: start;
      margin-left: 160px;
      margin-bottom: 0px;
    }
  }
}
