/* Hiring Partner Profile View Student Perspective */
.hp{
  display: flex;
  background-color: rgba(204, 204, 204, 0);
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: 'Raleway';
}
.backgroundskew {
  position: fixed;
  top: -31%;
  right: 0%;
  width: 55vh;
  height: 35vh;
  z-index: 1;
  -webkit-transform: skew(0deg, 40deg);
  -ms-transform: skew(0deg, 40deg);
  transform: skew(0deg, 23deg);
  background: rgba(207, 41, 41, .5);
}
.hp .signout {
  position: fixed;
  top:0;
  right: 0;
 }
.hp .signout button {
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font: 0.8em "Roboto Condensed", sans-serif;
    font-weight: bolder;
    color: rgb(214, 214, 214);
    letter-spacing: 2.5px;
  }
.hp .signout button:active {
    color: black; }
.hp-div{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(100deg, #12507249, #8dc7e76c); */
  background-color:rgba(68, 92, 114, 0.411);
  box-shadow: 0px 0px 5px 1px rgba(54, 54, 54, 0.801);
  border-left: 2px solid rgba(131, 131, 131, 0.856);
  width: 39vh;
  height: 100vh;
  max-width: 500px;
  margin: 0vh 0px 0px 0px;
  z-index: 0;
}
.hp-header{
position: fixed;
top:0;
right:0;
height: 8vh;
margin-right: 50px;
z-index: 3;
}

.hp-title-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.671);
  background-color: #125172;
  background-image: linear-gradient(-90deg, #125172, #8dc8e7);
  width: 100%;
  height: 11vh;
  margin: 16vh 0px 10px 0px;
}
.hp-title{
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: -15px;
  margin-right: 50px;
  font-size: 2.1rem;
}
.hp-photo{
  border-radius: 500px;
  border: 2px solid rgb(163, 163, 163);
  width: 8vh;
  height: 8vh;
}
.hp-location{
  color: rgb(202, 202, 202);
  font-size: 1.2rem;
  margin-top: 10px;
  margin-right: 10px;
}
.hp-info-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #125172;
  width: 101%;
  height: 8vh;
  margin-top: 0px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.hp-info-text{
  display: flex;
  align-items: center;
  border-top: 2px solid #;
  border-bottom: 2px solid #125172;
  color: rgb(78, 78, 78);
  width: 95%;
  font-size: 1.1em;
  height: 18vh;
}
.hp-remote{
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.hp-info-div{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 5px 1px rgba(36, 36, 36, 0.671);
  border-radius: 2px;
  align-items: center;
  margin: auto;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40vh;
}
.remote-check{
  margin: 10px;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.445);
  height: 25px;
  border: none;
}
.check-icon{
  color:green;
  transform: scale(2.5)
}
.hp-email-div{
  display: flex;
  justify-content: center;
  border: 1px solid rgba(71, 71, 71, 0.6);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.671);
  width: 95%;
  border-radius: 2px;
  margin-top: 5px;
}
.hp-email-div:hover{
  transform: scale(1.02);
  background-color: white;
  cursor: pointer;
}
.hp-email{
  color: rgb(34, 34, 34);
  font-size: 1.1rem;
  text-decoration: none;
}
.mail-logo{
  color: #125172;
  margin: 14px 10px 0px 0px;
  height: 30px;
  width: 30px;
}

/* Hiring Partner job card CSS */
.hp-job-card-div{
  position: fixed;
  margin: 12vh 0px 0px -140px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color:rgba(245, 243, 243, 0);
  width: 65%;
  height: 35vh;
  overflow-x: auto;
  z-index: 0;
}
.hp-job-card-div::-webkit-scrollbar {
  width: .6em; }
.hp-job-card-div::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.hp-job-card-div::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 10px;
  box-shadow: inset -15px -10px 15px -13px rgba(0, 0, 0, 0.616); }
.link-icon{
  margin: 5px 15px 0px 35px;
  color: #125172;
  font-size: 1.3rem;
}
.link-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(59, 59, 59);
}
.star-icon{
  margin: 5px 15px 5px 10px;
  color: #125172;
  font-size: 1.3rem;
}
.star-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: wheat;
}
.star-icon:focus{
  color: wheat;
}
.hp-listing-div{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(100deg, #125172, #8dc8e7); */
  height: 10vh;
}
.hp-job-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.671);
  border-radius: 0px;
  min-width: 230px;
  height: 35vh;
  max-height: 195px;
  margin: 10px 5px 10px 20px;
}

.hp-card-title-div{
  display: flex;
  width: 100%;
  justify-content:flex-end;
  align-items: center;
  height: 51px;
}

.hp-listing-title{
  font-size: 2.5rem;
  color: rgba(34, 34, 34, 0.973);
  font-weight: bold;
}
.hp-card-title{
  position: relative;
  font-size: 1.0rem;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
  color: rgb(44, 44, 44);
}
.posted-title{
  text-decoration: underline;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 0px;
  color: rgba(88, 88, 88, 0.747);
}
.hp-card-text{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid rgb(161, 161, 161);
  border-bottom: 2px solid rgb(161, 161, 161);
  color: rgb(39, 39, 39);
  width: 90%;
  font-size: 1.0rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.hp-title-div-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(-90deg, #125172, #8dc8e7);
  width: 100%;
  height: 8vh;
  margin: 0px 0px 0px 0px;
}
.hp-photo-2{
  width: 55px;
  height: 55px;
  border-radius: 400px;
  border:2px solid gray;
  margin-left:30px;
  margin-right: 5px;
}