/* Hiring Partner Profile View Student Perspective */
.hp{
  background: url('./redmap.svg') no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: 'Raleway';
  align-items: center;
}
.hp .signout {
  display: flex;
  justify-content: flex-end; }
  .hp .signout button {
    margin-right: 100px;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font: 0.8em "Roboto Condensed", sans-serif;
    font-weight: bolder;
    color: #A0011E;
    letter-spacing: 2.5px; }
  .hp .signout button:active {
    color: black; }
.hp-div{
  transform: scale(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(247, 247, 247, 0.8);
  box-shadow: 0px 0px 10px 1px rgb(92, 92, 92);
  border-radius: 25px;
  width: 50%;
  height: 85vh;
  margin-right: 20px;
  max-height: 650px;
  max-width: 500px;
}
.hp-header{
position: fixed;
top:0;
right:0;
height: 8vh;
margin-right: 50px;
}

.hp-info .hp-title-div{
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid rgba(214, 214, 214, 0.7);
  border-bottom: 2px solid rgba(214, 214, 214, 0.7);
  background-color: rgba(160, 1, 30, 0.9);
  width: 100%;
  margin-top: 20px;
  min-height: 120px;
  margin-bottom: 40px;
}

.hp-title{
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: -15px;
  font-size: 2.5rem;
}
.hp-info .hp-photo{
  border-radius: 30px;
  box-shadow: 0px 0px 5px 1px rgba(156, 156, 156, 0.671);
  width: 30%;
  height: 100px;
}
.hp-location{
  color: rgb(202, 202, 202);
  font-size: 1.5rem;
}
.hp-info-tag {
  margin-bottom: 15px;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.973);
}
.hp-info-text{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid rgb(161, 161, 161);
  border-bottom: 2px solid rgb(161, 161, 161);
  color: rgba(214, 214, 214, 0.795);
  width: 90%;
  margin: auto;
  font-size: 1.1rem;
}
.hp-remote{
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.hp-info-div{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.89);
  background-color: rgba(160, 1, 30, 0.9);
  box-shadow: 0px 0px 5px 1px rgb(92, 92, 92);
  border-radius: 5px;
  align-items: center;
  margin: auto;
  width: 85%;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.remote-check{
  margin: 10px;
  margin-top: 20px;
  background: white;
  height: 25px;
  border: none;
}
.check-icon{
  height: 20px;
  size: 1.3em;
  color:green;
  transform: scale(2.5)
}
.hp-email-div{
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, .9);
  background-color: rgba(160, 1, 30, 0.9);
  box-shadow: 0px 0px 10px 1px rgb(92, 92, 92);
  width: 87%;
  border-radius: 5px;
  margin-top: 10px;
}
.hp-email-div:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.hp-email{
  color: rgb(243, 243, 243);
  font-size: 1.3rem;
  text-decoration: none;
}
.mail-logo{
  color: #125172;
  margin: 13px 10px 0px 10px;
  height: 40px;
  width: 40px;
}

/* Hiring Partner job card CSS */
.hp-job-card-div{
  transform: scale(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color:rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 1px rgb(92, 92, 92);
  border-radius: 25px;
  width: 50%;
  height: 85vh;
  margin-right: 20px;
  max-height: 650px;
  max-width: 500px;
  overflow: auto;
}
.link-icon{
  color: #125172;
}

.link-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.star-icon{
  color: rgba(255, 255, 255, 0.623);
}
.star-icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.star-icon:hover{
  color: yellow;
}
.star-icon:focus{
  color: yellow;
}
.hp-card-location{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.hp-listing-div{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(214, 214, 214, 0.7);
  border-bottom: 1px solid rgba(214, 214, 214, 0.7);
  background-color: rgba(160, 1, 30, 0.9);
  box-shadow: 0px 0px 10px 1px rgb(92, 92, 92);
  width: 100%;
  margin-top: 0px;
  min-height: 60px;
  max-height: 80px;
  z-index: 1;
}
.hp-job-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.753);
  background-color: rgba(160, 1, 30, 0.9);
  box-shadow: 0px 0px 10px 1px rgb(92, 92, 92);
  width: 87%;
  min-height: 220px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hp-listing-title{
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.973);
  font-weight: bold;
}
.hp-card-title{
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.973);
}
.hp-card-text{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid rgb(161, 161, 161);
  border-bottom: 2px solid rgb(161, 161, 161);
  color: rgba(219, 219, 219, 0.795);
  width: 90%;
  font-size: 1.1rem;
  margin-bottom: 5px;
}