@import "imports";

.main {
  width: 100%;
  background-color: #e1f5ff;
  height: 100vh;

  .signout {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 100px;
      margin-top: 50px;
      cursor: pointer;
      outline: none;
      border: none;
      background: none;
      font: 0.8em $lambdafont;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .hpprof-container {
    margin-top: 50px;
    border-top: 2px dashed #707070;
    border-bottom: 2px dashed #707070;
    padding: 50px;

    .hps-listings {
      height: 325px;

      .posted-container::-webkit-scrollbar {
        width: 8px;
      }

      .posted-container::-webkit-scrollbar-thumb:vertical {
        border-radius: 10px;
        width: 10px;
        background-color: #707070;
        box-shadow: inset 0 0 5px black;
      }

      .posted-container {
        margin: 0 auto;
        border-radius: 10px;
        width: 50%;
        height: 80%;
        overflow: auto;
        

        h3 {
          margin: 10px 0px;
        }

        .hpposted-listing {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2.5px 25px;

          .list-info {
            display: flex;
            align-items: center;
            width: 80%;

            .joblink-url {
              font-size: 1em;
            }

            h4 {
              text-align: start;
              font-weight: bold;
              font-size: .8em;
              margin: 5px auto 0px;
              border-right: 1px dashed $specialgray;
              width: 100px;
            }

            p {
              text-align: start;
              margin: auto 15px;
              text-indent: 5%;
              font-size: 12px;
              width: 80%;
            }
          }
          .posted-time {
            width: 85%;
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
            padding-bottom: 15px;
            font-size: 10px;
            text-indent: 0;
            border-bottom: 1px solid $specialgray;

            .clock {
              margin-right: 3px;
            }
          }

        }
      }
    }

    hr {
      width: 70%;
      border-top: 1px dashed $specialgray;
    }

    .hpsidebyside {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      .hpprofile-container {
        margin-right: 50px;

        .pic-bg {
          width: 325px;
          height: 325px;
          border-radius: 10px;
          background-color: $specialblue;

          h1 {
            color: white;
            font-family: $landingfont;
            margin-bottom: 0;
          }

          h3 {
            margin-top: 0;
            color: #919191;
            font-family: $landingfont;
          }

          img {
            width: 200px;
            height: 200px;
            border: 3px solid #db5e3c;
            border-radius: 100%;
            margin-top: 20px;
          }
        }
      }

      .info-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
        width: 50%;

        .hpprofile-contact {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 10px;

          h2 {
            margin: 10px 0px 0px 0px;
          }

          p {
            display: flex;
            align-items: center;
            margin: 2.5px;
            font: 1.25em $landingfont;

            .contactIcons {
              margin-right: 10px;
            }
          }
        }
        .hpprofile-about {
          width: 100%;

          p {
            text-align: start;
            margin: 2.5px;
            font: 1.25em $landingfont;
            text-indent: 20px;
          }
        }
      }
    }
    .socialmedia {
      width: 25%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 75px;

      .smIcons {
        font-size: 2.5em;
        color: $specialblue;
      }

      .smIcons:hover {
        color: black;
      }
    }
  }
}
