@import 'imports';

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@mixin linear-gradient($top-color, $bottom-color, $opacity) {
  background: -moz-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  background: -webkit-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  background: linear-gradient(to bottom, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str(rgba($top-color, $opacity))}', endColorstr='#{ie-hex-str(rgba($bottom-color, $opacity))}',GradientType=0 );
}

.main {
  width: 100%;

  .signout {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 100px;
      margin-top: 50px;
      cursor: pointer;
      outline: none;
      border: none;
      background: none;
      font: 1em $lambdafont;
      font-weight: bolder;
      color: white;
      letter-spacing: 2.5px;
    }

    button:active {
      color: black;
    }
  }

  hr {
    width: 30%;
  }

  .backgroundskew {  
    display: flex;
    position: absolute;
    top: -46.5%;
    width: 100%;
    height: 54%;
    z-index: -1;
    @include transform(skew(0deg, 20deg));
    @include linear-gradient($specialred, $specialred, .5);
  }

.jsprofile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 75px auto 0;
  align-items: center;
  width: 50%;

    .contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font: 1em $lambdafont;
    }

    .JSinfo {
      p {
        margin: 0;
      }
      
      .JSname {
        font: 2em $lambdafont;
      }

      .JSlocation {
        font: 1em $lambdafont;
        color: $specialgray;
      }
    }

    .JSprofilepic {
      width: 100%;
      border-radius: 50%;
    }
  }

  .JSoptions {
    display: flex;
    flex-direction: column;
    margin: 40px auto 20px;
    padding-left: 12px;
    width: 8%;
    
    .optionbox {
      color: green;
      display: flex;
      margin-right: 7.5px;
    }

    .optionbox2 {
      color: red;
      display: flex;
      margin-right: 7.5px;
    }

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      font-family: $JStext;
    }

    .remote {
      margin-bottom: 5px;
    }
  }

  .JSbio {
    width: 25%;
    display: flex;
    margin: 0 auto;
    font: 1em $JStext;
  }

  .socialmedia {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }

  .smIcons {
    font-size: 2.5em;
    color: $specialblue;
  }

  .smIcons:hover {
    color: black;
  }
}