.main {
  width: 100%;
  background-color: #e1f5ff;
  height: 100vh; }
  .main .signout {
    display: flex;
    justify-content: flex-end; }
    .main .signout button {
      margin-right: 100px;
      margin-top: 50px;
      cursor: pointer;
      outline: none;
      border: none;
      background: none;
      font: 0.8em "Roboto Condensed", sans-serif;
      font-weight: bold;
      letter-spacing: 1px; }
  .main .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px; }
    .main .main-container .sidebyside {
      width: 800px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 75px;
      border-top: 2px dashed #707070;
      border-bottom: 2px dashed #707070;
      padding: 75px; }
      .main .main-container .sidebyside .jsprofile-container {
        margin-right: 100px; }
        .main .main-container .sidebyside .jsprofile-container .pic-bg {
          width: 325px;
          height: 325px;
          border-radius: 10px;
          background-color: #125172; }
          .main .main-container .sidebyside .jsprofile-container .pic-bg h1 {
            color: white;
            font-family: "Trebuchet MS", sans-serif;
            margin-bottom: 0; }
          .main .main-container .sidebyside .jsprofile-container .pic-bg h3 {
            margin-top: 0;
            color: #919191;
            font-family: "Trebuchet MS", sans-serif; }
          .main .main-container .sidebyside .jsprofile-container .pic-bg img {
            width: 200px;
            height: 200px;
            border: 3px solid #db5e3c;
            border-radius: 100%;
            margin-top: 20px; }
      .main .main-container .sidebyside .info-container {
        display: flex;
        align-items: center;
        flex-direction: column; }
        .main .main-container .sidebyside .info-container .jsprofile-contact {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 10px; }
          .main .main-container .sidebyside .info-container .jsprofile-contact h2 {
            margin: 10px 0px 0px 0px; }
          .main .main-container .sidebyside .info-container .jsprofile-contact p {
            display: flex;
            align-items: center;
            margin: 2.5px;
            font: 1.25em "Trebuchet MS", sans-serif; }
            .main .main-container .sidebyside .info-container .jsprofile-contact p .contactIcons {
              margin-right: 10px; }
        .main .main-container .sidebyside .info-container .jsprofile-about {
          width: 400px; }
          .main .main-container .sidebyside .info-container .jsprofile-about p {
            text-align: start;
            margin: 2.5px;
            font: 1.25em "Trebuchet MS", sans-serif;
            text-indent: 20px; }
    .main .main-container .socialmedia {
      width: 25%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 75px; }
      .main .main-container .socialmedia .smIcons {
        font-size: 2.5em;
        color: #125172; }
      .main .main-container .socialmedia .smIcons:hover {
        color: black; }

/*# sourceMappingURL=JSprofile.css.map */
