.Container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  header {
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;
    .Container__ImageContainer {
      height: 8rem;
      width: 8rem;
      overflow: hidden;
      border-radius: 50%;
      background: rgb(200, 146, 158);
      margin-right: 1rem;
      img {
        height: 8rem;
        width: 8rem;
        background-position: center;
      }
    }
    .Container__OptionsContainer {
      margin-left: auto;
      .OptionsContainer__Button {
        padding: 1rem;
        cursor: pointer;
        p {
          pointer-events: none;
        }
      }
    }
  }
}
